<div>
    <ul>
        {{#each mensajes}}
        <li><span>{{ this.author.id }}</span> <span>[{{ this.author.name }}]</span> <i>{{ this.text
                }}</i>
        </li>
        {{/each }}
    </ul>
</div>